.content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  &__list {
    margin: 10px;
    &__news {
      display: flex;
      justify-content: flex-start;
      flex-direction: column;
      padding: 15px;
      border: 1px solid;
      border-radius: 30px;
      margin: 50px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

      &__link {
        width: 100%;
        margin-left: 10px;
      }
      &__story {
        display: flex;
        width: 100%;
        h4 {
          margin: 10px;
          color: gray;
        }
      }
    }
  }
}
